<main>
  <h1>Réseau Mirabel</h1>
  <ng-container *ngIf="titles">
    <input type="text" [(ngModel)]="searchText" />
    {{sortAsc}}
    <table>
      <tr>
        <th>
          Titre
          <input type="checkbox" [ngModel]="sortAsc" (change)="onChange()">
        </th>
        <th>Périodicité</th>
        <th>Éditeurs</th>
        <th>Lien</th>
      </tr>
      <tr *ngFor="let title of titles.slice(0, 200) | titleFilter: searchText | titleSort: sortAsc">
        <td>{{ title.titre }}</td>
        <td>{{ title.periodicite ? title.periodicite : "Non communiqué" }}</td>
        <td>
          {{
            title.editeurs.length ? title.editeurs.join(", ") : "Non communiqué"
          }}
        </td>
        <td>{{title.url_revue_mirabel}}</td>
      </tr>
    </table>
  </ng-container>
</main>
